.formContainer {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.searchBar {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: #000;
  border: 1px solid transparent;
  border-radius: inherit;
  outline: none;
  width: 300px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
